<div class="container">

<h1>Listing Movies</h1>


    <% @movies.each do |movie| %>
      <p><%= image_tag movie.image.url(:medium) %></p>
    </p><%= movie.title %></p>
        </p><%= movie.director %></p>
        </p><%= movie.movie_length %></p>
        </p><%= movie.description %></p>
        </p><%= movie.rating %></p>
        <%= link_to 'Show', movie %>
        <%= link_to 'Edit', edit_movie_path(movie) %>
      <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>

    <% end %>

<br>

<%= link_to 'New Movie', new_movie_path %>
</div>
